@font-face {
	font-family: "fanta";
	src: url("./assets/fonts/FantasqueSansMono.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Lithops";
	src: url("./assets/fonts/Lithops-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Luciole";
	src: url("./assets/fonts/Luciole-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Luciole";
	src: url("./assets/fonts/Luciole-Italic.woff2") format("woff2");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Luciole";
	src: url("./assets/fonts/Luciole-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Luciole";
	src: url("./assets/fonts/Luciole-BoldItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: bold;
}