@font-face {
	font-family: "Luciole";
	src: url("./assets/fonts/Luciole-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Luciole";
	src: url("./assets/fonts/Luciole-Italic.woff2") format("woff2");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Luciole";
	src: url("./assets/fonts/Luciole-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Luciole";
	src: url("./assets/fonts/Luciole-BoldItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Andika";
	src: url("./assets/fonts/Andika-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Andika";
	src: url("./assets/fonts/Andika-Italic.woff2") format("woff2");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Andika";
	src: url("./assets/fonts/Andika-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Andika";
	src: url("./assets/fonts/Andika-BoldItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: bold;
}