* { 
	box-sizing:border-box;
	text-underline-offset: 0.1em;
}

body {
	font-family: "Cooper*", serif;
	font-size: 120%;
	line-height: 1.6;
	color: #202020;
	padding: 1rem 2rem 2rem;
	max-width: 650px;
	margin: 0 auto;
}

a.nav-active { 
    /* color: var(--Accent1-color);
    font-weight: 700; */
    text-decoration: underline;
	font-weight: bold;
}

nav a { text-decoration: none; }

a.here { text-decoration: none; }

.header-title {
    font-family: "Lithops";
	margin: 0;
	font-size: 320%;
	color: #AD1A00;
}

h1, h2, h3, h4 {
	font-family: "Avara Bold", serif;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 130%;
}

h4 {
	font-size: 110%;
}

nav a { text-decoration: none; }

a.here { text-decoration: none; }

#post-header + p::first-letter {
	font-feature-settings: "swsh" 1;
}

abbr {
	cursor: help;
}

abbr[title] {
  	cursor: help;
}

abbr[title]:hover::after {
  	font-size: 92%;
  	content: " (" attr(title) ")";
  	cursor: help;
}

dd {
  padding-inline-start: 1em;
}

summary {
  cursor: pointer;
}

details {
  padding-inline-start: 1em;
}

summary {
  margin-inline-start: -1em;
}

mark {
  	padding: 0 0.1em;
  	background-color: #fee433;
}

del {
  	color: #A30F2D;
}

ins {
  	color: #006100;
  	text-decoration-style: dotted;
}

blockquote {
	border-left: 3px solid #ccc;
	background-color: #eee;
}

blockquote > p {
	padding: 0.3em 1em;
}

pre,
code,
kbd {
  	font-size: 90%;
  	font-family: "fanta", monospace;
  	padding: 0.1em 0.2em;
	line-height: 1.33;
}

pre {
	overflow: auto;
  	padding: 1ch 2ch;
	border: 2px dotted #ccc;
	background-color: #eee;
	border-radius: 5px;
}

kbd {
	background-color: #eee;
	border: 1px solid #ccc;
  	box-shadow: 0 0.1em 0 0 #ddd;
  	border-radius: 5px;
}

a[href*="//"]:after {
    font-size: .74em;
    content: "\2197";
    display: inline-block;
}

a:link {
	text-decoration-thickness: 2px;
}

img { 
	max-width: 100%;
	height: auto;
	border: 1px solid #222;
}

.profile {
	border-radius: 20px;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

footer {
	margin-top: 2em;
	line-height: 1.33;
	text-align: center;
}

.arrow {
	display: inline-block;
	font-family: system-ui, sans-serif;
	font-size: .8em;
}

figcaption, footer, #post-header > div {
    color: #595959;
}

nav, footer, figcaption, #post-header > div {
	font-size: smaller;
}

figcaption a:link, footer a:link, #post-header > div a:link {
	text-decoration: underline;
	color: #595959;
}

figcaption a:hover, footer a:hover, #post-header > div a:hover  {
	text-decoration: none;
	color: #595959;
}

figcaption a:visited, footer a:visited, figcaption a:active, footer a:active, #post-header > div a:active, #post-header > div a:visited {
	color: #595959;
}