* { 
	box-sizing:border-box;
	text-underline-offset: 0.1em;
}

body {
	font-family: "Luciole", sans-serif;
	color: #333;
	font-size: 110%;
	line-height: 1.55;
	padding: 2rem;
	max-width: 800px;
	margin: 0 auto;
}

a.nav-active { 
    text-decoration: underline;
    font-weight: bold;
}

nav a {
	text-decoration: none;
	margin-right: 1.4rem;
}

a.here { text-decoration: none; }


abbr {
	cursor: help;
}

abbr[title] {
  	cursor: help;
}

abbr[title]:hover::after {
  	font-size: 96%;
  	content: " (" attr(title) ")";
  	cursor: help;
}

dt,
details[open] summary {
	font-weight: bold;
}

dd {
  padding-inline-start: 1em;
}

summary {
  cursor: pointer;
}

details {
  padding-inline-start: 1em;
}

summary {
  margin-inline-start: -1em;
}

mark {
  	padding: 0 0.1em;
  	background-color: #fee433;
}

aside {
	border: 2px dotted;
	padding: 1rem;
}

del {
  	color: #A30F2D;
}

ins {
  	color: #006100;
  	text-decoration-style: dotted;
}

blockquote {
	border-left: 3px solid #333;
}

blockquote > p {
	padding: 0.3em 1em;
}

pre,
code,
kbd {
  	font-size: 100%;
  	font-family: "fanta", monospace;
  	padding: 0.1em 0.2em;
	line-height: 1.33;
}

pre {
	overflow: auto;
  	padding: 0.6rem 1rem;
	border: 2px solid #333;
}

kbd {
	background-color: #eee;
	border: 1px solid #ccc;
  	box-shadow: 0 0.1em 0 0 #ddd;
  	border-radius: 5px;
}

a[href*="//"]:after {
    font-size: .78em;
    content: "\2197";
    display: inline-block;
}

a:link {
	text-decoration-thickness: 2px;
}

img { 
	max-width: 100%;
	height: auto;
	border: 2px solid #333;
}

footer {
	margin-top: 2rem;
	text-align: center;
}

footer, figcaption, #post-header > div {
    color: #595959;
}

footer, figcaption, #post-header > div {
	font-size: smaller;
}

figcaption a:link, footer a:link, #post-header > div a:link {
	text-decoration: underline;
	color: #595959;
}

figcaption a:hover, footer a:hover, #post-header > div a:hover  {
	text-decoration: none;
	color: #595959;
}

figcaption a:visited, footer a:visited, figcaption a:active, footer a:active, #post-header > div a:active, #post-header > div a:visited {
	color: #595959;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: start;
}

th:last-child,
td:last-child {
	text-align: end;
}

th,
td {
	border: 2px solid #333;
	padding: 1rem;
}

th:first-child {
	inset-inline-start: 0;
}

th {
	vertical-align: bottom;
}

th:first-child::after {
	content: '';
	position: absolute;
	inset-block-start: 0;
	inset-inline-end: 0;
	width: 1px;
	height: 100%;
}

@supports (color-scheme: dark light) {
    @media screen and (prefers-color-scheme: dark) {
    	body { color: #e2e2e2; }
        a:link {color: #9e9eff;}
        a:visited {color: #d0adf0;}
        a:active {color: salmon;}
        img { border: 2px solid #e2e2e2; }
        blockquote { border-left: 3px solid #e2e2e2; }
th,
td {
	border: 2px solid #e2e2e2; }
        pre { border: 2px solid #e2e2e2; }
        footer, figcaption, #post-header > div, figcaption a:link, footer a:link, #post-header > div a:link, figcaption a:hover, footer a:hover, #post-header > div a:hover, figcaption a:visited, footer a:visited, figcaption a:active, footer a:active, #post-header > div a:active, #post-header > div a:visited  {
    color: #A1A1A1;
}
    }
}