/* gfs-neohellenic-regular - greek */
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/gfs-neohellenic-v25-greek-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gfs-neohellenic-italic - greek */
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/gfs-neohellenic-v25-greek-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gfs-neohellenic-700 - greek */
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/gfs-neohellenic-v25-greek-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gfs-neohellenic-700italic - greek */
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/gfs-neohellenic-v25-greek-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Courier Prime Code';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/courier_prime_code-webfont.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
    text-underline-offset: 0.1em;
}

html {
    background-color: #adc8ad;
}

body {
    line-height: 1.3;
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 120%;
    max-width: 40em;
    margin: 0 auto;
    background-color: antiquewhite;
}

main {
    line-height: 1.5;
    padding: 0 2rem;
}

header {
    padding: 1rem 2rem;
    text-align: center;


background-color: #adc8ad;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #adc8ad 10px ), repeating-linear-gradient( #faebd755, #faebd7 );
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0 2rem;
}

summary span {
    font-size: 28.8px;
    font-weight: bold;
}

footer p:last-of-type {
    text-align: right;
}

h4 {
    font-variant: small-caps;
}

a.nav-active {
    font-weight: bold;
}

a.here {
    text-decoration: none;
}

abbr {
    cursor: help;
}

abbr[title] {
    cursor: help;
}

abbr[title]:hover::after {
    font-size: 96%;
    content: " (" attr(title) ")";
    cursor: help;
}

dt,
details[open] summary {
    font-weight: bold;
}

dd {
    padding-inline-start: 1em;
}

summary {
    cursor: pointer;
}

details {
    padding-inline-start: 1em;
}

summary {
    margin-inline-start: -1em;
}

mark {
    padding: 0 0.1em;
    background-color: #fee433;
}

aside {
    padding: 1rem;
    line-height: 1.3;
    background-color: #0000EE;
    color: antiquewhite;
}

aside a {
    text-decoration-thickness: 1.5px;
    text-decoration: underline;
    color: antiquewhite;
}

aside a:hover {
    text-decoration-style: wavy;
}

del {
    color: #a30f2d;
}

ins {
    color: #006100;
    text-decoration-style: dotted;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1rem;
}

blockquote {
    border-left: 5px solid darkseagreen;
    background-color: #adc8ad;
    line-height: 1.33;
}

blockquote > p {
    padding: 0.6em 1em;
}

pre,
code,
kbd {
    font-size: 88%;
    font-family: "Courier Prime Code", monospace;
    background-color: #adc8ad;
}

pre {
    overflow: auto;
    padding: 0.2rem 1rem;
    line-height: 1.33;
    border: 3px dotted darkseagreen;
}

p code {
    font-size: 74%;
    padding: 1px 8px;
    border-radius: 5px;
    border: 3px dotted darkseagreen;
}

kbd {
    background-color: #adc8ad;
    box-shadow: 0 0.14em 0 0 darkseagreen;
    padding: 2px 6px;
    border-radius: 5px;
}

a {
    overflow-wrap: break-word;
    text-decoration-thickness: 1.2px;
    text-decoration: none;
}

a[href*="//"]:after {
    font-size: 0.6em;
    font-family: sans-serif;
    content: "\2197";
    vertical-align: 16%;
}

a:hover {
    text-decoration-style: wavy;
}

ul.reading-log {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

#post-header > div,
#post-header > div:first-of-type,
#post-header > div:last-of-type {
    display: inline;
    line-height: 1.3;
}

ul li .post-tags {
    display: inline;
}

.toc {
    list-style-type: none;
    padding: 0;
}

footer,
figcaption {
    font-size: smaller;
    line-height: 1.3;
}

#post-header > div,
#post-header > div:first-of-type,
#post-header > div:last-of-type,
.toc-date,
.post-tags,
.post-tags a,
footer,
figcaption,
footer a:link,
footer a:hover,
footer a:visited,
footer a:active,
figcaption a:link,
figcaption a:hover,
figcaption a:visited,
figcaption a:active {
    color: #595959;
}

footer a:link, figcaption a:link, .post-tags a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

footer a:hover, figcaption a:hover, .post-tags a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: start;
}

th,
td {
    border: 1px solid;
    padding: 0.4rem 0.8rem;
}

th:first-child {
    inset-inline-start: 0;
}

th {
    vertical-align: bottom;
}

th:first-child::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 1px;
    height: 100%;
}

dl {
    display: grid;
    grid-template-columns: 2rem 1fr;
    line-height: 1.3;
    margin: 0;
}

dl dt {
    font-weight: 700;
    grid-column-start: 1;
}

dd:not(:last-child) {
    margin-bottom: .5rem;
}

